<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644998814912-hmb8vq32i1ch4ehjlff73ipll91d4svq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644998814912-hmb8vq32i1ch4ehjlff73ipll91d4svq</string>
	<key>API_KEY</key>
	<string>AIzaSyC2lZ6BUckicW6aOSS5z2rKjSqHMF4ta_4</string>
	<key>GCM_SENDER_ID</key>
	<string>644998814912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spark</string>
	<key>PROJECT_ID</key>
	<string>spark-b5ea3</string>
	<key>STORAGE_BUCKET</key>
	<string>spark-b5ea3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644998814912:ios:e2f712ce66a87ddf1fe125</string>
</dict>
</plist>